*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
    background-color:grey
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-family: fantasy;
    text-align: center;
    font-size: 40px;
}
 
/* Here are the Navbars    */

nav-container{
    width: 100%;
    height: 75px;
    top: 0px;
  
    background-color: #696969;
  }
  
  .nav-buttons{
    justify-content: center;
    display: flex;
  }
  
  .nav-button{
    display: inline-block;
  }
  
  .nv-btn{
    background-color: lightgrey;
    border: transparent;
    border-radius: 2px 20px;
    
    height: 30px;
    width: 150px;
  
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 18.75px;
  }
  
  .nv-log{
    background-color: rgb(0, 0, 0);
    border: transparent;
    border-radius: 5px 20px;
    float: right;
    margin-right: 35px;
    transform: translateY(-100%)
  }
  
  .nv-btn, .nv-log{
    font-weight: bold;
  }
  
  .nv-btn:hover, .nv-log:hover{
    background-color:grey;
    box-shadow: 10px 10px 25px black;
  }

  /* Animation loader of the website */

  
  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .container:hover .top:before, .container:hover .top:after, .container:hover .bottom:before, .container:hover .bottom:after, .container:active .top:before, .container:active .top:after, .container:active .bottom:before, .container:active .bottom:after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
  }
  .container:hover .center, .container:active .center {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .top:before, .top:after, .bottom:before, .bottom:after {
    content: "";
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
  }
  
  .top:before {
    transform: rotate(45deg);
    background: #e2e465;
  }
  .top:after {
    transform: rotate(135deg);
    background: #ff6f00;
  }
  
  .bottom:before {
    transform: rotate(-45deg);
    background: #00c3ff;
  }
  .bottom:after {
    transform: rotate(-135deg);
    background: #000000;
  }
  
  .center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;
  }
  .center input {
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-family: inherit;
  }

  @import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

